body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url("https://images.unsplash.com/photo-1642455512062-d2d549089c7b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color:white;
    background:cover;
    

}
h1{
    color:goldenrod;
    font-size:60px;
    font-weight:bold;
}
#main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

}
p{
    font-size:30px;
    font-weight:bold;
}
#message-el{
    font-style:italic;
}
button{
    color:green;
    background-color: goldenrod;
    border:none;
    padding:3px 35px;
    font-weight:bold;
    font-size:30px;
    margin:10px;
    width:300px;
}
